h1 {
    text-align: center;
    margin: 1em auto 1.5em auto;
    text-decoration: underline;
}

.form { 
    display: flex;
    flex-flow: column;
    width: 35%;
    margin: auto;
    padding: 1em;
    border: 5px solid #113f67;
    background-color: #a2a8d3;
    border-radius: 20px;
    margin-bottom: 2em;
}

.form > label {
    width: 60%;
    margin: 1em auto 0.5em auto;
    text-align: center;
}

.form > input {
    width: 60%;
    margin: auto;
    padding: 1em;  
    border-style: none;
    border-bottom: 2px solid black ;
    background-color: #a2a8d3;
    outline: none;

}

.form > select {
    width: 40%;
    margin: 0.5em auto 0.5em auto;
    padding: 0.5em;
    cursor: pointer;
    background-color: #a2a8d3;
    border: 2px solid black;
    outline: none;

}

.form > .btn {
    width: 25%;
    margin: 1em auto 0.5em auto;
    padding: 0.8em;
    border: none;
    background-color: #113f67;
    color: #e7eaf6;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 1s;
}

.form > .btn:hover{
    background-color: #38598b;
    transition-duration: 1s;
}

button {
    width: 20%;
    padding: 0.5em;
}
  
a {
    text-decoration: none;
    color: black;
}

