header {
    display: flex;
    justify-content: space-between;
    background-color: tomato;
    padding: 1em;
}

header >  nav {
    padding: 0.5em;
}

nav > ul {
    display: flex;
    flex-flow: row;
    gap: 20px;
}

nav ul > li {
    list-style: none;
}

ul li > a {
    text-decoration: none;
    padding: 0.5em;
    font-weight: 600;
}

ul li > a:hover {
    color: white;
}